<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Anthony Somerset">
      <title>Random Password and Key Generator</title>
      
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!-- Fontawesome core CSS -->
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

    </head>
    <body>

      <a href="https://github.com/anthonysomerset/randomkey">
         <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
     </a>

     <!-- Begin page content -->
     <div class="container-fluid">

         <div class="page-header col-md-12">
             <h1>Random Key Generator</h1>
         </div>

         <p class="lead col-md-12">
             Welcome to Random Key Generator, here you will find a variety of random keys that can be used for 
             passwords, encryption keys, etc. - all randomly generated, just for you! Simply refresh this page for a 
             completly new set of keys.
         </p>

         <div class="col-md-12">
         <div class="alert alert-info">
             <strong>Heads Up!</strong>&nbsp;
             You can click on the <i class="fa fa-file-code-o"></i> to get a page with just the desired key, for use 
             in an application.
         </div>
      </div>
         <form>
             
                 <div class="col-md-12 mb-3">         
                  {% include 'panels/info.html' %}            
                 </div>
                              
             
             <script src="{{ url_for('static', filename='js/decode64.js')}}"></script>

             {% macro print_panel(url,title,description,keys) -%}
             <div class="card mb-3">
               <div class="card-header">
                    {{ title }} <a href="/{{ url }}"><i class="fa fa-file-code-o"></i></a>
               </div>
               <div class="card-body d-flex flex-column">
               <div class="p-2">
                   <p class="card-text">{{ description }}</p>
               </div>
               <div class="p-2">
               <div class="form-group">
                  <input type="text" id="txt_{{ url }}_pw_0" class="form-control" onclick="javascript:this.select();" value="" />
              </div>
              <div class="form-group">
                  <input type="text" id="txt_{{ url }}_pw_1" class="form-control" onclick="javascript:this.select();" value="" />
              </div>
              <div class="form-group">
                  <input type="text" id="txt_{{ url }}_pw_2" class="form-control" onclick="javascript:this.select();" value="" />
              </div>
              </div>
          </div>
      </div>
      <script type="text/javascript">
         {%- for key in keys %}
          document.getElementById('txt_{{ url }}_pw_{{ loop.index0 }}').value = decode64("{{ key }}");
         {%- endfor %}
      </script>
            {%- endmacro %}

             <div class="card-deck">
                  <div class="col-md-4 d-flex align-items-stretch">{{ print_panel(url='decent', title='Decent Passwords', description='Strong enough for a local password or somewhere brute forcing is detectable or isn\'t likely.', keys=decent) }}</div>
                 <div class="col-md-4 d-flex align-items-stretch"> {{ print_panel(url='strong', title='Strong Passwords', description='Strong enough for a bank account, or an account that is open to the public/internet.', keys=strong) }} </div>
                 <div class="col-md-4 d-flex align-items-stretch"> {{ print_panel(url='ftknox', title='Ft. Knox Passwords', description='Strong enough for pretty much anything, like root or other administrator passwords.', keys=ftknox) }} </div>
             </div>

             <div class="card-deck">
                 <div class="col-md-4 d-flex align-items-stretch"> {{ print_panel(url='ci_key', title='CodeIgniter Encryption Keys', description='Can be used for any other 256-bit key requirement.', keys=ci_key) }}</div>
                 <div class="col-md-4 d-flex align-items-stretch"> {{ print_panel(url='wpa_160', title='160-bit WPA Key', description='160 bit WPA key', keys=wpa_160) }}</div>
                 <div class="col-md-4 d-flex align-items-stretch"> {{ print_panel(url='wpa_504', title='504-bit WPA Key', description='504 bit WPA key', keys=wpa_504) }}</div>
             </div>

         </form>

     </div> <!-- ./container -->

     <div id="footer">
         <div class="container">
             <p class="text-muted">
                 <small>
                     Written by Anthony Somerset. This site is based off of Chris Kacerguis original work previously at randomkey.io, it is rewritten in Python Flask.
                 </small>
             </p>
         </div>
     </div>

        <!-- Bootstrap core JS -->
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

    </body>
</html>